body {
    margin: 0;
    font-family: 'Century Gothic', sans-serif;
    
    background-image: url("img/fundo2.png");
  }
  h2{
      color:#f39200;
      text-transform: uppercase;
  }
  p{
      color:#fff;
  }
  
  /* SLIDE \/ */
  .imagemSlide{
      background:url("http://www.acfconstrutora.com.br/imagens/slider/casa-bauducco.jpg");
     background-size: cover;
     height: 100vh;
     width: 100%;
    /* -webkit-animation-name: slideShow;  */
    -webkit-animation-duration: 60s; 
    -webkit-animation-iteration-count: infinite; 
    animation-name: slideShow;
    animation-duration: 60s;
    animation-iteration-count: infinite;
  }
  @media screen and (max-width: 600px) {
    .imagemSlide{
        height: 50vh;
    }
  }



  /* Safari 4.0 - 8.0 */
@-webkit-keyframes slideShow {
    0%   {background:url("http://www.acfconstrutora.com.br/imagens/slider/casa-bauducco.jpg");background-size: cover;}
    33%  {background:url("http://www.acfconstrutora.com.br/imagens/slider/axe.jpg");background-size: cover;}
    66%  {background:url("http://www.acfconstrutora.com.br/imagens/slider/grand-cru.jpg");background-size: cover;}
    100% {background:url("http://www.acfconstrutora.com.br/imagens/slider/casa-bauducco.jpg");background-size: cover;}
}

/* Standard syntax */
@keyframes slideShow {
    0%   {background:url("http://www.acfconstrutora.com.br/imagens/slider/casa-bauducco.jpg");background-size: cover;}
    33%  {background:url("http://www.acfconstrutora.com.br/imagens/slider/axe.jpg");background-size: cover;}
    66%  {background:url("http://www.acfconstrutora.com.br/imagens/slider/grand-cru.jpg");background-size: cover;}
    100% {background:url("http://www.acfconstrutora.com.br/imagens/slider/casa-bauducco.jpg");background-size: cover;}
}

.hidden{
    opacity: 0;
}
  .slide img{
    width: 100%;
    }
    @media screen and (max-width: 600px) {
        /* .topnav.responsive {position: relative;} */
        .slide img {
          margin-top:100px; 
        }
    }

      /* SOBRE \/ */
    .sobre{
        padding: 0px 40px 0px 40px;
        text-align: justify;
    }
    .botao{
        margin-top:40px; 
        margin-bottom:50px; 
        text-align: center;
    }
    .botao a{
        text-decoration: none;
        color:#fff;
        padding: 10px;
        background: #f39200;
        border-radius: 5px;
        transition: 1s;
    }
    .botao a:hover{
        background: #f36a00;
    }
/* Cliente \/ */
.clientes{
    padding: 20px;
    text-align: center;
    background:#181818;
}
.iconCliente{
    display: inline;
    /* width: 360px; */
    margin: 10px;
}
.iconCliente img{
    box-sizing: border-box;
    width: 180px;
    height: 180px;
    
}



  

  /* Contato \/ */
.contato{
    background:#181818;
    text-align: center;
    padding: 20px 0px;
}
.contato span{
    
    margin-right: 30px;
    font-size: 20px;
}
.contato .numero{
    display: inline;
    margin-right: 10px;
    font-size: 17px;
}